<div id="wrap">
    <form name="query" action="?page=get" method="post">
        Andmed graafiku jaoks</br>
        <input type="month" name="dateData[]" value="startDate" š/>Alates</br>
        <input type="month" name="dateData[]" value="endDate" max= <?php echo date("Y-m");?> />Kuni</br>
        <input type="radio" name="chartData[]" value="cold_water" />Külm vesi</br>
        <input type="radio" name="chartData[]" value="hot_water" />Soe vesi</br>
        <input type="radio" name="chartData[]" value="electricity_night" />Öine elekter</br>
        <input type="radio" name="chartData[]" value="electricity_day" />Päevane elekter</br>
        <input type="submit" name="querySubmit" value="Saada päring" />
    </form>

</div>
